---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout>
  <Section>
    <div class="min-h-full mx-auto w-full max-w-6xl">
      <div class="text-center">
        <p class="font-bold text-accent text-8xl">404</p>
        <h1 class="mt-8 text-4xl font-black text-balance lg:text-5xl text-primary">
          This page could not be found.
        </h1>
        <p class="mt-6 text-base text-balance text-secondary">
          You may have mistyped the address or the page may have moved.
        </p>
        <div class="mt-16">
          <a href="/" class="button button-primary">
            <Icon name="lucide:home" class="size-4 inline-block -mt-0.5 mr-2" />
            Go back home
          </a>
        </div>
      </div>
    </div>
  </Section>
</Layout>
