---
interface Props {
	align?: "left" | "center";
	class?: string;
}
const { align = "center", class: className = "" } = Astro.props;
---

<div class:list={[
	"max-w-2xl prose mb-16 lg:mb-20",
	align === "center" && "mx-auto text-center",
	align === "left" && "text-left",
	className
]}>
	<div>
		<slot name="heading-title" />
	</div>
	<div class="text-secondary">
		<slot name="heading-content" />
	</div>
</div>
