---

---

<div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:items-center lg:gap-16">
        <Fragment>
                <slot name="hero-content-left" />
        </Fragment>
        <Fragment>
		<slot name="hero-content-right" />
	</Fragment>
</div>
